<div>
  <mat-form-field>
    <input #symbol (keyup.enter)="getStock(symbol.value)" matInput placeholder="Input a company symbol" value="MSFT" >
  </mat-form-field>
  <button (click)="getStock(symbol.value)" mat-raised-button color='primary'>Search</button>
</div>

<canvas baseChart #baseChart
          [datasets]="stockData"
          [labels]="stockLabels"
          [options]="stockOptions"
          [colors]="stockChartColors"
          [legend]="'true'"
          [chartType]="'line'"></canvas>